@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  --background-rgb: 14, 14, 16;
  --foreground-rgb: 222, 222, 227;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
