@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  --background-rgb: 14, 14, 16;
  --foreground-rgb: 222, 222, 227;
  --twpurple: #a970ff;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  @apply text-base;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.9) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.9) 0px 0px 2px 0px;
}

input[type='text'] {
  @apply bg-chatpanel border-none outline-none px-4 py-2
         shadow-[rgba(222,222,227,0.4)_0_0_0_1px_inset]
         hover:shadow-[rgba(222,222,227,0.4)_0_0_0_2px_inset]
         focus:shadow-[rgb(169,112,255)_0_0_0_2px,rgb(169,112,255)_0_0_0_2px_inset];
}

/* single video player align top */
.twitch-player[data-of='1'] > div {
  @apply mt-0;
}

/* video player sizes */
.twitch-player[data-of='1'] {
  @apply w-full h-full max-h-full;
}

/* grid 2 players */
.twitch-player[data-of='2'] {
  @apply w-full h-1/2 max-h-1/2;
}

/* grid 3 players */
.twitch-player[data-pos='1'][data-of='3'] {
  @apply w-full h-2/3 max-h-2/3;
}
.twitch-player[data-pos='2'][data-of='3'],
.twitch-player[data-pos='3'][data-of='3'] {
  @apply w-1/2 h-1/3 max-h-1/3;
}

/* grid 4 players */
.twitch-player[data-of='4'] {
  @apply w-1/2 h-1/2 max-h-1/2;
}

/* grid 5 players */
.twitch-player[data-pos='1'][data-of='5'],
.twitch-player[data-pos='2'][data-of='5'] {
  @apply w-1/2 h-1/2 max-h-1/2;
}
.twitch-player[data-pos='3'][data-of='5'],
.twitch-player[data-pos='4'][data-of='5'],
.twitch-player[data-pos='5'][data-of='5'] {
  @apply w-1/3 h-1/2 max-h-1/2;
}

/* grid 6 players */
.twitch-player[data-of='6'] {
  @apply w-1/2 h-1/3 max-h-1/3;
}

/* grid 7 players */
.twitch-player[data-pos='1'][data-of='7'],
.twitch-player[data-pos='2'][data-of='7'],
.twitch-player[data-pos='3'][data-of='7'],
.twitch-player[data-pos='4'][data-of='7'] {
  @apply w-1/2 h-1/3 max-h-1/3;
}
.twitch-player[data-pos='5'][data-of='7'],
.twitch-player[data-pos='6'][data-of='7'],
.twitch-player[data-pos='7'][data-of='7'] {
  @apply w-1/3 h-1/3 max-h-1/3;
}

/* grid 8 players */
.twitch-player[data-of='8'] {
  @apply w-1/2 h-1/4 max-h-1/4;
}

/* grid 9 players */
.twitch-player[data-of='9'] {
  @apply w-1/3 h-1/3 max-h-1/3;
}

/* spotlight not first players */
.spotlight > .twitch-player[data-of='2'] {
  @apply w-full h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='3'] {
  @apply w-1/2 h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='4'] {
  @apply w-[33.33%] h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='5'] {
  @apply w-[25%] h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='6'] {
  @apply w-[20%] h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='7'] {
  @apply w-[14.28%] h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='8'] {
  @apply w-[12.5%] h-[20%] max-h-[20%];
}
.spotlight > .twitch-player[data-of='9'] {
  @apply w-[11.11%] h-[20%] max-h-[20%];
}

/* spotlight first player */
.spotlight > .twitch-player[data-pos='1'] {
  @apply w-full h-[80%] max-h-[80%];
}

/* one and only player */
.twitch-player[data-pos='1'][data-of='1'] {
  @apply w-full h-full max-h-full;
}

/* vertical stacking */
#player-container {
  container-type: size;
  container-name: player;
}

@container player (orientation:portrait) and (width < 600px) {
  .twitch-player {
    @apply w-full !important;
  }
  .twitch-player[data-of='2'] {
    @apply h-1/2 max-h-1/2 !important;
  }
  .twitch-player[data-of='3'] {
    @apply h-1/3 max-h-1/3 !important;
  }
  .twitch-player[data-of='4'] {
    @apply h-1/4 max-h-1/4 !important;
  }
  .twitch-player[data-of='5'] {
    @apply h-[20%] max-h-[20%] !important;
  }
  .twitch-player[data-of='6'] {
    @apply h-[16.66] max-h-[16.66%] !important;
  }
  .twitch-player[data-of='7'] {
    @apply h-[14.28%] max-h-[14.28%] !important;
  }
  .twitch-player[data-of='8'] {
    @apply h-[12.5%] max-h-[12.5%] !important;
  }
  .twitch-player[data-of='9'] {
    @apply h-[11.11%] max-h-[11.11%] !important;
  }
}
