@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  --background-rgb: 14, 14, 16;
  --foreground-rgb: 222, 222, 227;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.header-shadow {
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px, rgba(0, 0, 0, 0.9) 0px 0px 2px 0px;
}

